extends layout

block content
  h1 Controller
  
  button#button1 Stare
  button#button2 Stop Staring

  script(src="javascripts/socket.io.js")
  script.
    var socket = io();

    var btn1 = document.getElementById('button1');
    var btn2 = document.getElementById('button2');

    btn1.addEventListener('click', function() {
      socket.emit('change_state', 2);
    });

    btn2.addEventListener('click', function() {
      socket.emit('change_state', 1);
    });